@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #C3DBE4;
    font-family: 'Roboto';
}

h1 {
    text-align: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: 5px solid white;
    margin: 0.5rem;
    background-color: #FFF;
    border-radius: 1em;
}

.box > input {
    margin: 1rem 0;
    font-weight: 600;
}

#create-btn {
    margin-bottom: 0.5rem;
    font-weight: 600;
    padding: 0.5em 1em;
}

.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
